@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell,
    Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

/* put it here for now as tailwind doesn't support changing image opacity.
If you have any suggestions, pls let me know*/
.background-image {
  background: linear-gradient(rgba(255, 255, 255, 0.68), rgba(255, 255, 255, 0.68)),
    url('../public/images/backgroundImage.jpg') no-repeat center center fixed;
  background-size: cover;
  overflow: hidden;
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;

  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
}
