@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .input-text-default {
    @apply w-full rounded border-2 border-gray-200 bg-gray-200 px-2 py-2 hover:border-green-light focus:border-green-light focus:bg-white focus:outline-none;
  }

  .input-text-error {
    @apply w-full rounded border-2 border-red-400 bg-red-50 px-2 py-2 focus:outline-none;
  }

  .input-text-disabled {
    @apply w-full rounded border-2 border-gray-200 bg-gray-200 px-2 py-2;
  }

  .input-submit {
    @apply w-full rounded border-green-light bg-green-light py-2 px-2 text-white hover:border-green-hover hover:bg-green-hover;
  }
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell,
    Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

/* put it here for now as tailwind doesn't support changing image opacity.
If you have any suggestions, pls let me know*/
.background-image {
  background: linear-gradient(rgba(255, 255, 255, 0.68), rgba(255, 255, 255, 0.68)),
    url('../public/images/backgroundImage.jpg') no-repeat center center fixed;
  background-size: cover;
  overflow: hidden;
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;

  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
}
